*{
  padding-left: 5%;
  padding-right: 5%;
  color: royalblue;
}

img {
  height: 20%;
  width: 100%;
}

table {
  text-align: center;
  border: solid orange;
  align-items: end;

}

form {
  text-align: justify;
}

#caption {
  text-align: center;
}

.table {
  background-color: palegoldenrod;
}

input, textarea {
  background-color: white;
}

h1, h2, h3 {
  text-align: center;
}